@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>@ViewBag.Title</title>

     
      <link  rel="stylesheet" href="~/css/style.css"  />
</head>
<body>
    <div class="about">
        
            <img src="~/images/istockphoto-962095876-612x612.jpg" alt="Profile Image">
         
     
        </div>
    
</body>
</html>